/* whiole document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border0-box;
}


/* body */
body {
	height: 100vh;
}



.ireps_div {
	display: flex;
	flex-direction: column;
	height: 100%;
}




/* navbar ------------------------------------------------------------------------------------*/

.main_menu_div, .page_menu_div  {
	border: 1px solid #b3b3b3;
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.main_menu_div {
	margin: 5px 5px 5px 5px;
}

.page_menu_div {
	margin: 0px 5px 5px 5px;
}


.mml, .mmr, .pml, .pmr {
	display: flex;
	align-items: center;
}

.mml, .pml {
	justify-content: left;
}

.mmr, .pmr {
	justify-content: right;
}

ul.mm {
    margin-bottom: 0;
}

.div-mm {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: white;
    height: 30px;
}

.div-mml ul {
    padding: 0px;
}

div.div-mm ul {
    margin: 0;
    padding: 0;
}

ul.mm, ul.mmr, ul.sub1, ul.sub2{
    list-style-type: none;
    font-size: 9pt;
}

ul.mm li {
    /*border: 1px solid red;*/
    width: 140px;
    text-align: center;
    position: relative;
    float: left;
    margin: 2px;
    color: green;
}

ul.mm a {
    text-decoration: none;
    display: block;
    width: 140px;
    height: 25px;
    line-height: 25px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
}

ul.mm .sub1 a {
    margin-top: 5px;
}

ul.mm .sub2 a {
    margin-left: 5px;
}

ul.mm li:hover > a {
    background-color: #CFC;
}

ul.mm li:hover a:hover {
    background-color: #FF0
}

ul.mm ul.sub1 {
    display: none;
    position: absolute;
    top: 25px;
    left: 0px;
}

ul.mm ul.sub2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 140px;
}


ul.mm li:hover .sub1 {
    display: block;
}

ul.mm .sub1 li:hover .sub2 {
    display: block;
}

.darrow{
    font-size: 11pt;
    position: absolute;
    top: 3px;
    right: 4px;
}

.rarrow {
    font-size: 19pt;
    position: absolute;
    top: 0px;
    right: 4px;
}


/* navbar---------------------------------------------------------------------------------------------------- */



.page_menu_div > div {
    margin: 0 10px;
}

.unp_main_body_div {
	display: flex;
	flex-direction: column;
	border: 1px solid #b3b3b3;
	margin: 0 5px 5px 5px ;
	flex-grow: 1;
}

#upd_heading {
	margin: 2px;
	height: 120px;
	display: flex;
}

#upd_heading_picture {
	border-radius: 10px;
}

#img_upd_heading_picture {
	width: 120px;
	height: 120px;
	border-radius: 10px;
}

.heading_stats {
	height: 120px;
	flex-grow: 1;
}

#upd_body {
	/*border: 1px solid #b3b3b3;*/
	margin: 0px 2px 2px 2px;
	flex-grow: 1;
	display: flex;
}

#upd_body_main_display {
	border: 1px solid #b3b3b3;
	flex-grow: 1;
}

.upd_btn {
	min-width: 180px;
}

.unp_menu_btn {
  font-size: 25px;
  color: #b3b3b3;
  border: 0px;
  background: white;
  padding: 0px 7px;
  border-radius: 5px;
}

.unp_menu_btn:hover {
	background: yellow;
}

.unp_fa_icon {
	color: #b3b3b3;
}

#unp_pml_btn_title {
  margin: 5px 10px;
  padding: 0 10px;
}

.unp_id {
	font-size: 30px;
	color: Dodgerblue;
	padding: 0 10px;
	border: 1px solid grey;
	border-radius: 5px;
}

.editable {
	disabled: true;
}

.pgm_btn_disabled {
	background: #d6d6c2;
}



.heading_stats {
	display: grid;
/*	grid-template-columns: repeat(auto-fit , minmax(200px, ifr)); */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
  border-radius: 10px;
  grid-gap: 10px;
}

.block {
	border: 2px solid white;
	padding: 5px;
	display: flex;
}

.block1 {
}

.block2 {
}

.block3 {
}

.block4 {
}

.block5 {
}

.block6 {
}

.card {
	width: -webkit-fill-available;
}

.card img {
	margin: auto;
}

.card-footer{
	display: flex;
	justify-content: center;
}

.card-header {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.unp_profile_add {
	border-radius: 20px;
}

.upd_heading_item {

}

#unp_ml2_menus {
	display: grid;
	grid-template-columns: 40px 40px;
	grid-template-rows: 1fr 1fr 1fr;
	width: 80px;
}

.upd_stats {
	border: 1px solid #b3b3b3;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
}

.unp_profile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
}

.pgm_title_btn {
	font-size: 17px;
}

.pgm_title_user_acc_id {
	font-size: 17px;
}

.upd_stats .card div {
    padding: 5px;
}

.upd_stats .card {
    border-radius: 10px;
}
