{% extends "base.html" %}

{% block title %} blog {% endblock %}

{% block fn %}
    <p class="ifilename" id="ifilename">{{ filename }}</p>
{% endblock fn %}

{% block dt %}
<table class="blog_class" id="ireps_dt" style="width: 100%;"></table>
{% endblock dt %}

{% block dt_modal %}
<!-- Modal -->
<div class="modal fade" id="blog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blog-modal-label">Add new blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form method="POST" action="/blog" id="blog-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <input type="hidden" class="form-control" id="blog-id" name="blog_id" value="">
            </div>
             
              <label for="blog-subject" class="form-control-label">subject</label>
              <input type="text" class="form-control" id="blog-subject" name="subject" placeholder="type blog subject here">
            </div>
            <div class="form-group">
              <label for="blog-content" class="form-control-label">content</label>
              <textarea id="blog-content" class="form-control" placeholder="type blog content here" name="content"></textarea>
            </div>
            <div class="form-group modal-form-btns">
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
              <input type="reset" class="btn btn-outline-warning" id="blog-reset-btn" value="Reset">
              <input type="submit" class="btn btn-primary" id="blog-submit-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock dt_modal %}



