<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>unp</title>
    <!--unp icon-->
    <link rel="icon" href="../static/images/unp1.jpg" type="image/x-icon">
    <!--fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!--date range picker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- unp CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unp.css') }}">
  </head>
  <body>

    <div id="ireps_div" class="ireps_div">
      <!--main_menu_div-->
      <div id="main_menu_div" class="main_menu_div">

        <ul class="mm mml">
          <li id="li_ireps-logo"><a id="a_ireps-logo" href="{{ url_for('index') }}">iREPS</a></li>
          
          <li><a href = "#">dashboard</a><span class="darrow">&#9660</span>
            <ul class="sub1">
                <li><a href="#">assets</a> </li>
                <li><a href="#">transactions</a> </li>
                <li><a href="#">erfs</a> </li>
            </ul>
          </li>
          <li><a href = "#">assets</a><span class="darrow">&#9660</span>
            <ul class="sub1">

            </ul>
          </li>
          <li><a href="">transactions</a><span class="darrow">&#9660</span>
            <ul class="sub1">
                <li><a href="#">kiosk/box</a><span class="rarrow">&#9656</span>
                  <ul class="sub2">
                    <li><a href="#">installation</a></li>
                    <li><a href="#">commissioning</a></li>
                    <li><a href="#">maintenance</a></li>
                  </ul>
                </li>
                <li><a href="#">electricity meters</a><span class="rarrow">&#9656</span>
                  <ul class="sub2">
                    <li><a href="#">installation</a></li>
                    <li><a href="#">commissioning</a></li>
                    <li><a href="#">maintenance</a></li>
                    <li><a href="#">meter_reading</a></li>
                    <li><a href="#">meter_audit</a></li>
                    <li><a href="#">fwn</a></li>
                    <li><a href="#">dcn</a></li>
                    <li><a href="#">rcn</a></li>
                  </ul>
                </li>
                <li><a href="#">Water meter</a><span class="rarrow">&#9656</span>
                  <ul class="sub2">
                    <li><a href="#">installation</a></li>
                    <li><a href="#">commissioning</a></li>
                    <li><a href="#">maintenance</a></li>
                    <li><a href="#">meter_reading</a></li>
                    <li><a href="#">meter_inspection</a></li>
                  </ul>
                </li>
                <li><a href="#">pole</a><span class="rarrow">&#9656</span>
                  <ul class="sub2">
                    <li><a href="#">installation</a></li>
                    <li><a href="#">commissioning</a></li>
                    <li><a href="#">maintenance</a></li>
                  </ul>
                </li>
                <li><a href="#">transformer</a><span class="rarrow">&#9656</span>
                  <ul class="sub2">
                    <li><a href="#">installation</a></li>
                    <li><a href="#">commissioning</a></li>
                    <li><a href="#">maintenance</a></li>
                  </ul>
                </li>
              </ul>
          </li>
        </ul>
  
        <ul class="mm mmr">
          <li><a href = "#">training</a></li>
  
            <li><a href = "#">admin</a><span class="darrow">&#9660</span>
              <ul class="sub1">
                <li><a href="#">system tables</a><span class="rarrow">&#9654</span>
                  <ul class="sub2">
                    <li><a href="#">trn Names</a> </li>
                    <li><a href="#">trn States</a> </li>
                    <li><a href="#">table of tables</a></li>
                  </ul>
                </li>
                <li><a href="#">users</a></li>
                <li><a href="#">tools</a></li>
                <li><a href="#">cadastral</a></li>
                <li><a href="#">motor vehicles</a></li>
                <li><a href="#">mobile devices</a></li>
                <li><a href="#">simcards</a></li>
                <li><a href="#">minutes</a></li>
                <li><a href="#">user roles</a></li>
                <li><a href="#">minutes</a></li>
                <li><a href="#">permissions</a></li>
                <li><a href="#">notifications</a><span class="rarrow">&#9654</span>
                  <ul class="sub2">
                    <li><a href="#">SMS/WhatsApp</a> </li>
                    <li><a href="#">Emails</a> </li>
                  </ul>
                </li>
              </ul>
            </li>
              <li><a href ="#">sign up</a></li>
    
          
              <li><a href = "">User:4
                  </a><span class="darrow">&#9660</span>
              <li><a href = "">sign in</a>
  
          
          <ul class="sub1">
            <li><a href = "">sign out</a>
            <li><a href = "">profile</a></li>
          </ul>
        </ul>
        
      </div>
      
      <!--page_menu_div-->
      <div id="page_menu_div" class="page_menu_div">

        <!--page menu left-->
        <div id="pml" class="pml">
          
          <!--unp unp_pml_btn_title-->
          <div>
            <button id="pgm_page_title" type="button" class="unp_pml_btn_title btn btn-sm pgm_title_btn" title="user profile">
              user profile <span class="badge badge-light pgm_title_user_acc_id" title="unique user acc id">4</span>
            </button>
          </div>
  
          <!--unp unp_pml_btn_daterange-->
          <div>
            <button
                id="pgm_daterange"
                class=""
                data-toggle="tooltip"
                title="date range">
                &nbsp
                <i class="far fa-calendar-alt"></i>
                &nbsp
                <span></span>
                &nbsp
                <i class="fa fa-caret-down"></i>
                &nbsp
            </button>
          </div>
          
          <!--unp unp_pml_btn_edit-->
          <div>
            <button id="pgm_edit" class="unp_menu_btn" title="edit profile">
              <i class="fas fa-edit unp_fa_icon"></i>
            </button>
          </div>
  
          <!--unp unp_pml_btn_cancel-->
          <div>
            <button id="pgm_cancel" class="unp_menu_btn" title="cancel">
              <i class="fas fa-window-close unp_fa_icon"></i>
            </button>
          </div>
  
          <!--unp unp_pml_btn_save-->
          <div>
            <button id="pgm_save" class="unp_menu_btn" title="save">
              <i class="fas fa-save unp_fa_icon"></i>
            </button>
          </div>
          
        </div>

        <div id="pmr" class="pmr">
        <!--page menu right-->
          
          <!--unp unp_pmr_btn_copy-->
          <div>
            <button id="pgm_copy" class="unp_menu_btn" title="copy content to clipboard">
                <i class="fas fa-copy unp_fa_icon"></i>
            </button>
          </div>
          
          <!--unp unp_pmr_btn_excel-->
          <div>
            <button id="pgm_excel" class="unp_menu_btn" title="download to excel file">
                <i class="fas fa-file-excel unp_fa_icon"></i>
            </button>
          </div>
          
          <!--unp unp_pmr_btn_pdf-->
          <div>
            <button id="pgm_pdf" class="unp_menu_btn" title="download to pdf">
                <i class="fas fa-file-pdf unp_fa_icon"></i>
            </button>
          </div>
          
          <!--unp unp_pmr_btn_csv-->
          <div>
            <button id="pgm_csv" class="unp_menu_btn" title="download to csv">
                <i class="fas fa-file-csv unp_fa_icon"></i>
            </button>
          </div>
          
          <!--unp unp_pmr_btn_print-->
          <div>
            <button id="pgm_print" class="unp_menu_btn" title="sent content to a printer">
                <i class="fas fa-print unp_fa_icon"></i>
            </button>
          </div>
        </div>
      </div>
      
      <!--unp_profile_header (upd)-->
      <div id="unp_main_body_div" class="unp_main_body_div">
        
        <!--upd_heading-->
        <div id="upd_heading" class="upd_heading">
          
          <!--upd_heading_picture-->
          <div class="upd_heading_item" id="upd_heading_picture" >
            <img id="img_upd_heading_picture"  src="../static/images/passport_pic.jpg" >
          </div>
          
          <!--unp ml2 menus-->
          <div class="upd_heading_item unp_ml2_menus">
            
            <div id="unp_ml2_menus">
      
              <!--unp profile-->
              <div>
                <button id="ml2_unp_profile" class="unp_menu_btn" title="user profile">
                  <a href="{{ url_for('unp_profile') }}">
                    <i class="fas fa-address-card unp_fa_icon"></i>
                  </a>
                </button>
              </div>
      
              <!--unp stats-->
              <div>
                <button id="ml2_unp_stats" class="unp_menu_btn" title="user stats">
                  <a href="{{ url_for('unp_stats') }}">
                    <i class="fas fa-database unp_fa_icon"></i>
                  </a>
                </button>
              </div>
        
              <!--logon history-->
              <div>
                <button id="ml2_unp_logon_history" class="unp_menu_btn" title="logon history">
                  <a href="{{ url_for('unp_logon_history') }}">
                    <i class="fas fa-history unp_fa_icon"></i>
                  </a>
                </button>
              </div>
      
              <!--BoQ's (these are quantities for all transactions for a user)-->
              <div>
                <button id="ml2_unp_boqs" class="unp_menu_btn" title="BoQ's">
                  <a href="{{ url_for('unp_boqs') }}">
                    <i class="fas fa-weight unp_fa_icon"></i>
                  </a>
                </button>
              </div>
      
              <!--SMS's-->
              <div>
                <button id="ml2_unp_smss" class="unp_menu_btn" title="text messages">
                  <a href="{{ url_for('unp_smss') }}">
                    <i class="fas fa-sms unp_fa_icon"></i>
                  </a>
                </button>
              </div>
      
              <!--emails-->
              <div>
                <button id="ml2_unp_emails" class="unp_menu_btn" title="emails">
                  <a href="{{ url_for('unp_emails') }}">
                    <i class="fas fa-envelope unp_fa_icon"></i>
                  </a>
                </button>
              </div>
    
            </div>
            
          </div>
          
          <!--unp stats-->
          <div class="upd_heading_item heading_stats">
            
            <!--user total trns-->
            <div class="upd_stats">
              <!--total ireps trns-->
              <div>
                <span>
                total <strong>ireps</strong> trns
                </span>
              </div>
              <!--total ireps trns-->
              <div>
                <h1>34589</h1>
              </div>
            </div>
            
            <!--total user trns-->
            <div class="upd_stats">
              <!-- total user trns-->
              <div>
                <span>
                total <strong>user</strong> trns
                </span>
              </div>
              <!--total ireps trns-->
              <div>
                <h1>5268</h1>
              </div>
            </div>
            
            <!--user user qap trns-->
            <div class="upd_stats">
              <!-- total user qap trns-->
              <div>
                <span>
                total <strong>qap</strong> trns
                </span>
              </div>
              <!--total qap trns-->
              <div>
                <h1>5200</h1>
              </div>
            </div>
            
            <!--user qaf trns-->
            <div class="upd_stats">
              <!-- total user qaf trns-->
              <div>
                <span>
                total pending <strong>qaf</strong> trns
                </span>
              </div>
              <!--total qap trns-->
              <div>
                <h1>68</h1>
              </div>
            </div>
          </div>
          
        </div >
      
        <!--upd_body-->
        <div id="upd_body" class="upd_body">
          <!--upd_body_main_display-->
          <div id="upd_body_main_display">
          {% block upd_body_main_display %}
          {% endblock upd_body_main_display %}
          </div>
        </div>
        
      </div>
    </div>
  
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- jQuery JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <!-- Popper.JS -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!-- Bootstrap JS -->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <!-- moment JS -->
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- daterange picker -->
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- unp JS -->
    <script src="{{ url_for('static', filename='scripts/unp.js') }}" ></script>
  </body>
</html>