{% extends 'unp.html' %}



{% block content %}

{% block upd_body_main_display %}

<div class="unp_profile">
  
  <div class="block block1">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add ireps_btn">+</button>
        <span>user account details</span>
        <button class="btn btn-primary ireps_btn" id="unp_profile_data_edit_btn">edit</button>
      </div>
      <div class="card-body">
        <p><strong>surname : </strong><span id="unp_surname"></span></p>
        <p><strong>name : </strong><span id="unp_name"></span></p>
        <p><strong>email : </strong><sapn id="unp_email_adr" ></sapn></p>
        <p><strong>mobile no : </strong><span id="unp_mobile_number"></span></p>
        <p><strong>id no : </strong><span id="unp_id_no"></span></p>
        <p><strong>date of birth : </strong><span id="unp_dob"></span></p>
        <p><strong>acc status : </strong><span id="unp_acc_status"></span></p>
        <p><strong>date acc opened: </strong><span id="unp_date_acc_created"></span></p>
      </div>
    </div>
  </div>
  <div class="block block2">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add ireps_btn">+</button>
        <span>user next of kin</span>
        <button class="btn btn-primary ireps_btn">edit</button>
      </div>
      <div class="card-body">
        <p>name : zola sogoni</p>
        <p>contact no: 081 310 0063</p>
        <p>email : fikilek@innopen.co.za</p>
      </div>
    </div>
  </div>
  <div class="block block2">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add ireps_btn">+</button>
        <span>user roles</span>
        <button class="btn btn-primary ireps_btn">Edit</button>
      </div>
      <div class="card-body">
        <p>role name : supervisor</p>
      </div>
    </div>
  </div>

</div>

{% endblock upd_body_main_display %}

{% endblock content %}


