Dear Sir/Madam

You receive this email because you started a process to register as a user of iREPS.
If this is not true or in error, you are free to ignore and/or dispose this message.

As the first step in the user registration process, your iREPS account  was successfully
captured but not activated.

To activate, kindly click the link below to confirm the email address. This is the email
adr that iREPS will use for all future correspondence with you unless it gets modified by ONLY you.

Upon confirmation, you will be asked to choose a secure password after which you can enjoy limited access
to iREPS until you fully register with all the required info.
  
<a href="{{ confirm_url }}"></a>;

For any questions or comments, you are welcome to communicate with iREPS admin (see communication credentials below).

---
Best regards
iREPS Admin
admin@innopen.co.za