{% extends 'unp.html' %}

{% block upd_body_main_display %}

<div class="unp_profile">
  
  <div class="block block1">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add">+</button>
        <span>user account details</span>
        <button class="btn btn-primary">edit</button>
      </div>
      <div class="card-body">
        <p>kentane fikile</p>
        <p>fikilek@innopen.co.za</p>
        <p>081 310 0063</p>
        <p>680416 6044 080</p>
        <p>16 april 1968</p>
        <p>status: active</p>
        <p>date acc opened: 20 nov 2019</p>
      </div>
    </div>
  </div>
  <div class="block block2">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add">+</button>
        <span>user next of kin</span>
        <button class="btn btn-primary">edit</button>
      </div>
      <div class="card-body">
        <p>name : zola sogoni</p>
        <p>contact no: 081 310 0063</p>
        <p>email : fikilek@innopen.co.za</p>
      </div>
    </div>
  </div>
  <div class="block block2">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary unp_profile_add">+</button>
        <span>user roles</span>
        <button class="btn btn-primary">Edit</button>
      </div>
      <div class="card-body">
        <p>role name : supervisor</p>
      </div>
    </div>
  </div>


</div>



{% endblock upd_body_main_display %}