{% extends "base.html" %}

{% block title %} wos {% endblock %}



{% block fn %}
    <p class="ifilename" id="ifilename">{{ filename }}</p>
{% endblock fn %}

{% block ac %}
    <p class="arc_code" id="arc_code">{{ arc_code }}</p>
{% endblock ac %}

{% block trn_code %}
    <p class="trn_code" id="trn_code">{{ trn_code }}</p>
{% endblock trn_code %}

{% block dt %}
<table class="wos_class" id="ireps_dt" style="width: 100%;"></table>
{% endblock dt %}

{% block dt_modal %}
<!-- Modal -->
{{ super() }}
{% endblock dt_modal %}



